[Unit]
Description=MSi keyboard settings daemon

[Service]
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/msikbd-settings --daemon

[Install]
WantedBy=multi-user.target
Alias=msikbd-settings.service
